@using Microsoft.AspNetCore.Identity
@using LibraryWebSite.Entities.Identity
@using LibraryWebSite.Services.Contracts
@inject SignInManager<User> SignInManager
@inject IApplicationUserManager UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="SignOut" asp-controller="Login" asp-area="" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
                <a title="Manage" class="nav-link text-dark">سلام  @user.UserName!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link nav-link text-dark">خروج</button>
            </li>

        </ul>
    </form>
}
else
{
    <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item"><a asp-action="Register" asp-controller="Login" class="nav-link text-dark">عضویت</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="Login" class="nav-link text-dark">ورود به سایت</a></li>
    </ul>
}

